extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Item
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/item/addItem')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Item Code
									input(type='text',name='itemcode',placeholder='Enter Item Code', autofocus).form-control
								.form-group
									label
										| Name
									input(type='text',name='name',placeholder='Enter Name').form-control
								.form-group
									label
										| Brand
									input(type='text',name='brand',placeholder='Enter Brand').form-control
								.form-group
									label
										| Unit
									input(type='text',name='unit',placeholder='Enter Unit').form-control
								.form-group
									label
										| Total
									input(type='text',name='total',placeholder='Enter Total').form-control
								.form-group
									label
										| Price
									input(type='text',name='price',placeholder='Enter Price').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/item').btn.btn-primary.pull-right
									| Back